*
{
  -webkit-tap-highlight-color: transparent;
}

body 
{
  position:relative;
  background: url(bg.svg);
  font-size: 20px;
  background-color: #1f2029;
  background-size: 5vw;
  width: 100%;
  color: white;
  overflow:auto;
  /* overflow-y: scroll; */
  overflow-x: hidden;
  font-family: 'Tilt Neon', cursive;
}

html 
{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/*#region Scrollbar */


body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px gainsboro;
  border-radius: 100vw;
  border: solid 3px transparent;
}

body::-webkit-scrollbar-button:single-button {
  background-color: #082032;
  display: block;
  background-size: 0.5em;
  background-repeat: no-repeat;
}

/* Up */
body::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-radius: 5px 5px 0 0;
  height: 16px;
  width: 16px;
  background-position: center 0.4em;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(129, 103, 169)'><polygon points='50,00 0,50 100,50'/></svg>");
}

body::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(129, 103, 169)'><polygon points='50,00 0,50 100,50'/></svg>");
}

body::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(129, 103, 169)'><polygon points='50,00 0,50 100,50'/></svg>");
}

/* Down */
body::-webkit-scrollbar-button:single-button:vertical:increment {
  border-radius: 0px 0px 5px 5px;
  height: 16px;
  width: 16px;
  background-position: center 0.4em;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(129, 103, 169)'><polygon points='0,0 100,0 50,50'/></svg>");
}

body::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(129, 103, 169)'><polygon points='0,0 100,0 50,50'/></svg>");
}

body::-webkit-scrollbar-button:single-button:vertical:increment:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(129, 103, 169)'><polygon points='0,0 100,0 50,50'/></svg>");
}

/* Left */
body::-webkit-scrollbar-button:single-button:horizontal:decrement {
  border-radius: 5px 0px 0 5px;
  height: 12px;
  width: 12px;
  background-position: 3px 3px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(129, 103, 169)'><polygon points='0,50 50,100 50,0'/></svg>");
}

body::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(129, 103, 169)'><polygon points='0,50 50,100 50,0'/></svg>");
}

body::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(129, 103, 169)'><polygon points='0,50 50,100 50,0'/></svg>");
}

/* Right */
body::-webkit-scrollbar-button:single-button:horizontal:increment {
  border-radius: 0 5px 5px 0;
  height: 12px;
  width: 12px;
  background-position: 3px 3px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(129, 103, 169)'><polygon points='0,0 0,100 50,50'/></svg>");
}

body::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(129, 103, 169)'><polygon points='0,0 0,100 50,50'/></svg>");
}

body::-webkit-scrollbar-button:single-button:horizontal:increment:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(129, 103, 169)'><polygon points='0,0 0,100 50,50'/></svg>");
}
/*#endregion */

.header-content 
{
  margin-left: 3vw;
  margin-right: 3vw;
  display: flex;
  flex-direction: row;
  height: 6.4vh;
}

.navburger 
{
  margin-right: auto;
  margin-left: 1vw;
  margin-top: 4vh;
  height: 2.3vh;
  width: 17px;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  align-items: center;
}

.navburger-button 
{
  position: absolute;
  top: 3.8vh;
  width: 2.7vw;
  height: 4vh;
  color: transparent;
  border-color: transparent;
  /*#endregion */
  background-color: transparent;
  cursor: pointer;
}

.nav 
{
  position: absolute;
  top: 13vh;
  left: -200vw;
  place-items: center;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  border-radius: 2vw;
  background:linear-gradient(45deg, #a5a5b6, #e6e6fa);
  width: 98vw;
  height: 30vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.1fr;
  transition-property: all;
  transition-duration: 500ms;
  z-index: 100;
  visibility: hidden;
}

.nav-lnk 
{
  color: #785f9e;
  font-size: 5vw;
  display: grid;
  place-items: center;
}
.nav-lnk-ttl 
{
  font-size: 3vw;
}

.ion 
{
  pointer-events: none;
}

.bartop
{
  position: relative;
  top: -3vh;
  margin-right: 1.05vw;
  left: -0.12px;
  padding-left: 2px;
  color: transparent;
  font-size: 6px;
  background-color: white;
  user-select: none;
  transform-origin: left;
  width: 1.1vw;
  height: 0.5vh;
  border-radius: 40px;
  z-index: -100;
  transition-property: all;
  transition-duration: 500ms;
  float: left;
}

.barmid
{
  position: relative;
  top: -2vh;
  left: 0;
  padding-left: 2px;
  color: transparent;
  font-size: 6px;
  background-color: white;
  user-select: none;
  width: 2.03vw;
  height: 0.5vh;
  border-radius: 40px;
  z-index: -100;
  transition-property: all;
  transition-duration: 500ms;
}

.barbottom
{
  position: relative;
  top: -1.08vh;
  margin-left: 1.1vw;
  left: 0;
  padding-left: 2px;
  color: transparent;
  font-size: 6px;
  background-color: white;
  user-select: none;
  transform-origin: right;
  width: 1vw;
  height: 0.5vh;
  border-radius: 40px;
  z-index: -100;
  transition-property: all;
  transition-duration: 500ms;
  float: right;
}

.header 
{
  margin-top: 3.2vh;
}

.logo 
{
  position: relative;
  margin-left: auto;
  margin-right: 0;
}

.logo-lnk
{
  width: 100%;
  display: block;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 1.4vw;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  animation: underline 300ms;
  user-select: none;
  place-items: center;
}

.logo-lnk:hover 
{
  animation: ununderline 300ms;
  animation-fill-mode: forwards;
}

.logo-lnk span 
{
  color: rgb(129, 103, 169);
}

.author
{
  position: relative;
  padding-left: 25%;
  font-size: 1vw;
  font-family: 'Tilt Neon', cursive;
  animation: underline 300ms;
}
.typed::after {
  content: '';
  display: inline;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

.author:hover 
{
  animation: ununderline 300ms;
}

/* .page 
{

} */

.page-content 
{
  position: relative;
  display: inline-block;
  /* background-color: rebeccapurple; */
  top: 0;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20vh;
  transition-property: all;
  transition-duration: 500ms;
}



@keyframes underline 
{
  0%
  {
    text-decoration-color: rgba(255, 255, 255, 0);
  }
  100%
  {
    text-decoration-color: rgba(255, 255, 255, 1);
  }
}
@keyframes ununderline 
{
  0%
  {
    text-decoration-color: rgba(255, 255, 255, 1);
  }
  100%
  {
    text-decoration-color: rgba(255, 255, 255, 0);
  }
}

/* @media only screen and (max-device-width: 768px) */
/* {
  .bartop
  {
    position: relative;
    top: -3vh;
    margin-right: 1.05vw;
    left: -0.12px;
    padding-left: 2px;
    color: transparent;
    font-size: 6px;
    background-color: white;
    user-select: none;
    transform-origin: left;
    width: 55vw;
    height: 0.5vh;
    border-radius: 40px;
    z-index: -100;
    transition-property: all;
    transition-duration: 500ms;
    float: left;
  }

  .barmid
  {
    position: relative;
    top: -2vh;
    left: 0;
    padding-left: 2px;
    color: transparent;
    font-size: 6px;
    background-color: white;
    user-select: none;
    width: 2.03vw;
    height: 0.5vh;
    border-radius: 40px;
    z-index: -100;
    transition-property: all;
    transition-duration: 500ms;
  }

  .barbottom
  {
    position: relative;
    top: -1.08vh;
    margin-left: 1.1vw;
    left: 0;
    padding-left: 2px;
    color: transparent;
    font-size: 6px;
    background-color: white;
    user-select: none;
    transform-origin: right;
    width: 1vw;
    height: 0.5vh;
    border-radius: 40px;
    z-index: -100;
    transition-property: all;
    transition-duration: 500ms;
    float: right;
  }
} */

@media only screen and (max-device-width: 480px)
{
  .menu 
  {
    padding-top: 1vh;
  }

  .bartop
  {
    position: relative;
    top: -3vh;
    margin-right: 1.05vw;
    left: -0.12px;
    padding-left: 2px;
    color: transparent;
    font-size: 6px;
    background-color: white;
    user-select: none;
    transform-origin: left;
    width: 6vw;
    height: 0.52vh;
    border-radius: 40px;
    z-index: -100;
    transition-property: all;
    transition-duration: 500ms;
    float: left;
  }

  .barmid
  {
    position: relative;
    top: -2vh;
    left: -0.6vw;
    padding-left: 2px;
    color: transparent;
    font-size: 6px;
    background-color: white;
    user-select: none;
    width: 6vw;
    height: 0.52vh;
    border-radius: 40px;
    z-index: -100;
    transition-property: all;
    transition-duration: 500ms;
  }

  .barbottom
  {
    position: relative;
    top: -1vh;
    margin-left: 1.1vw;
    left: -1.2vw;
    padding-left: 2px;
    color: transparent;
    font-size: 6px;
    background-color: white;
    user-select: none;
    transform-origin: right;
    width: 6vw;
    height: 0.52vh;
    border-radius: 40px;
    z-index: -100;
    transition-property: all;
    transition-duration: 500ms;
    float: right;
  }
  .logo 
  {
    width: 100vw;
    margin-right: 20vw;
    padding-top: 1vh;
  }

  .logo-lnk 
  {
    margin-left: 35vw;
    font-size: 100%;
  }

  .author 
  {
    margin-left: -5vw;
    font-size: 70%;
  }

  .nav 
  {
    height: 20vh;
    background-color:lavender;
  }

  .nav-lnk 
  {
    font-size: 10vw;
  }

  .nav-lnk-ttl 
  {
    font-size: 5vw;
  }
}